<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="Content/styles.css" rel="stylesheet" type="text/css">
    <title>Repeat Tester!</title>
  </head>
  <body class="container">
    <h1>Pete and Repeat were on a boat:</h1>

    <form action="/result">
      <label for="input-word">Enter a Word;</label>
      <input type="text" name="input-word" id="input-word" placeholder="This is Word...">
      <hr>
      <label for="input-sentence">Enter Many a Word:</label>
      <input type="text" name="input-sentence" id="input-sentence" placeholder="These are Word...">
      <hr>
      <button type="submit" class="btn-default btn-lg" name="button">How Many a Word?</button>

      <hr>
      <img src="Content/img/two.jpg" class="img-rounded img-responsive" alt="Two men on a boat" />

  </body>
</html>
