<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Repeat Tester!</title>
  </head>
  <body>
    <h1>Pete and Repeat were on a boat:</h1>

    <form action="/result">
      <label for="input-word">Enter a Word;</label>
      <input type="text" name="input-word" id="input-word" placeholder="This is Word...">
      <hr>
      <label for="input-sentence">Enter Many a Word:</label>
      <input type="text" name="input-sentence" id="sentence" placeholder="These are Word...">
      <hr>
      <button type="submit" name="button">How Many a Word?</button>


  </body>
</html>
