<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Repeat Result</title>
  </head>
  <body>
    <h1>Pete fell off, who was left?</h1>

    <ul>
      <li>The word <strong>@Model.GetWord()</strong> appears <strong>@Model.CountRepeats()</strong> times</li>
    </ul>

  </body>
</html>
